body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2 {
  text-align: center;
}

p {
  margin: 5px 0;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

img {
  border-radius: 100%;
  border: 1px solid black;
} 

header h1 {
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.link {
  text-decoration: none;
  color: rgb(52, 52, 221);
  font-size: 20px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}

form input {
  font-size: 20px;
}